<div class="row">
	<div class="col m6 s12">

{{#md-card title="Welcome" class='grey lighten-2'}}
	{{#md-card-content}}
		Thanks for visiting my site!
	{{/md-card-content}}
	{{#md-card-action}}
		{{md-btn class='btn-flat teal white-text' text='Dismiss'}}
	{{/md-card-action}}
{{/md-card}}
	</div>
	<div class="col m6 s12">
	</div>
	<div class="col m6 s12">
{{#md-card title="Welcome" class='grey lighten-2'}}
	{{#md-card-content}}
		Thanks for visiting my site!
	{{/md-card-content}}
	{{#md-card-action}}
		{{md-btn class='btn-flat teal white-text' text='Dismiss'}}
	{{/md-card-action}}
{{/md-card}}
	</div>
	<div class="col m6 s12">
{{#md-card title="Welcome" class='grey lighten-2'}}
	{{#md-card-content}}
		Thanks for visiting my site!
	{{/md-card-content}}
	{{#md-card-action}}
		{{md-btn class='btn-flat teal white-text' text='Dismiss'}}
	{{/md-card-action}}
{{/md-card}}
	</div>

	<div class="col m6 s12">
{{#md-card title="Welcome" class='grey lighten-2'}}
	{{#md-card-content}}
		Thanks for visiting my site!
	{{/md-card-content}}
	{{#md-card-action}}
		{{md-btn class='btn-flat teal white-text' text='Dismiss'}}
	{{/md-card-action}}
{{/md-card}}
	</div>

		<div class="col m6 s12">
{{#md-card title="Welcome" class='grey lighten-2'}}
	{{#md-card-content}}
		Thanks for visiting my site!
	{{/md-card-content}}
	{{#md-card-action}}
		{{md-btn class='btn-flat teal white-text' text='Dismiss'}}
	{{/md-card-action}}
{{/md-card}}
	</div>

		<div class="col m6 s12">
{{#md-card title="Welcome" class='grey lighten-2'}}
	{{#md-card-content}}
		Thanks for visiting my site!
	{{/md-card-content}}
	{{#md-card-action}}
		{{md-btn class='btn-flat teal white-text' text='Dismiss'}}
	{{/md-card-action}}
{{/md-card}}
	</div>

		<div class="col m6 s12">
{{#md-card title="Welcome" class='grey lighten-2'}}
	{{#md-card-content}}
		Thanks for visiting my site!
	{{/md-card-content}}
	{{#md-card-action}}
		{{md-btn class='btn-flat teal white-text' text='Dismiss'}}
	{{/md-card-action}}
{{/md-card}}
	</div>

</div>
